<div class="employees-header">
  <div class="data">
<!--    <i class="material-icons">chevron_left</i>-->
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
<!--    <i class="material-icons">chevron_right</i>-->
  </div>
  <div class="toggle">
    <button routerLink="/timelog-day">Day</button>
    <button>Week</button>
  </div>
  <div>
    <button class="button-save">Save</button>
  </div>
</div>
