<div class="employees-header">
  <div class="data">
    <i class="material-icons">chevron_left</i>
    <p>24/04/2019</p>
    <i class="material-icons">chevron_right</i>
  </div>
<!--  <div class="buttons">-->
<!--    <button [routerLink]="timelog-day">Day</button>-->
<!--    <button [routerLink]="timelog-week">Week</button>-->
<!--  </div>-->
  <div *ngIf="toggleFlag; else elseBlock">
    <button (click) = time() class="button__save">Save</button>
  </div>
  <ng-template #elseBlock>
    <button (click) = time() class="button_save_time">Save at {{timeNow}}</button>
  </ng-template>
</div>
