<div class="signIn">
    <h1>Sign In</h1>
    <div class="form-container">
      <div class="form-item">
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <a routerLink="/restore-password" class="forgot-password">Forgot password?</a>
      <div class="form-item">
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button class="signInButton" mat-raised-button color="primary">Sign In</button>
      </div>
      <div>
        <p>I don't have account <a routerLink="/signup">Sign Up</a></p>
      </div>
    </div>
  </div>
