<div class="sign">
  <div class="sign__image">
  </div>
  <div class="sign__form_container">
    <h1 class="sign__form_name">Sign In</h1>
    <form class="sign__form">
       <input type="text" placeholder="Full Name" class="sign__form_input">
        <a routerLink="/restore-password" class="sign__form_forgot-password">Forgot password?</a>
        <input type="password" placeholder="Password" class="sign__form_input">
        <button class='sign__form_button' type="submit" routerLink="/">Sign In</button>
      </form>
    <p class="sign__form_sign-in">I don’t have account <a routerLink="/signup">Sign Up</a></p>
  </div>
</div>
