<div class="approval-period">
  <div class="approval-block">
    <p>Approval Period:</p>
    <mat-form-field class="select-period">
      <mat-select
        [(ngModel)]="company.approvalPeriod[1][0]"
        (ngModelChange)="onChange($event)"
      >
        <mat-option
          *ngFor="let item of company.approvalPeriod[0]"
          [value]="item"
        >
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle [(checked)]="company.autoSubmit" [disabled]="approvDis">
      Submit Time Logs automatically in the end of period
    </mat-slide-toggle>
  </div>

  <div class="approval-block">
    <p>Notify about difference between expected and actual time:</p>

    <div class="notify-block" *ngFor="let notify of company.notDifTime">
      <mat-checkbox
        [(ngModel)]="notify.notification"
        [disabled]="approvDis"
      ></mat-checkbox>
      <p class="notifi-sign">≤</p>
      <input type="number" [(value)]="notify.time" [disabled]="approvDis" />
      <p class="notifi-sign">%</p>
      <mat-select
        class="select-notify"
        [(value)]="notify.imp"
        [disabled]="approvDis"
      >
        <mat-option *ngFor="let item of arr" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </div>
  </div>

  <div class="approval-block">
    <mat-slide-toggle
      [(checked)]="company.abilityForget"
      [disabled]="approvDis"
    >
      Ability to forget timesheets
    </mat-slide-toggle>
  </div>
</div>
