<app-block>
  <app-container class="person_information" >

    <app-employee-information [employeeName]="employee_name"></app-employee-information>

    
    <button class="person-information__button_deactivate" mat-button (click)='changeDeactivatePopupCondition()'>Deactivate</button>
    <button class="person-information__button_save">Save</button>

  </app-container>

  <div class="inline">
    <app-container class="width_bar_chart">
      <app-bar-chart></app-bar-chart>
    </app-container>
    <app-container class="table">
      <app-table [tableData]="tableData" (onRemove)="removeItem($event)"></app-table>
    </app-container>
  </div>

  <app-container class="for_approval">
    <div class="inline">
      <app-table [tableData]="tableData" (onRemove)="removeItem($event)"></app-table>
      <div class="donut_chart_and_buttons">
        <app-donut-chart></app-donut-chart>
        <app-approve-reject-forget></app-approve-reject-forget>
      </div>
    </div>
  </app-container>
<div class="inline">
    <app-container class="export">
        <app-export></app-export>
    </app-container>
</div>
</app-block>
