<div class="table">
  <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let timesheet">
          <app-timelog-select [marks]="marks"></app-timelog-select>
        </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time (hours) </th>
        <td mat-cell *matCellDef="let timesheet"> {{timesheet.time}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let timesheet; let i = index"><div class="comment-field">{{timesheet.comment}}
          <button mat-icon-button (click)="deleteTimesheet(i)">
            <mat-icon class="mat-18">close</mat-icon>
          </button>
        </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="item-description">
        <td class="bottom-border-none" mat-footer-cell *matFooterCellDef>
          <mat-form-field [floatLabel]="'never'">
            <mat-label>
              <div class="round"></div>&nbsp;&nbsp;<span>Choose Project</span>
            </mat-label>
            <mat-select [(value)]="mark">
              <mat-select-trigger *ngIf="mark" class="mark">
                <mat-icon class="mat-24" [ngStyle]="{'color': mark.color}">brightness_1</mat-icon>
                <span>{{mark.name}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let mark of marks" [value]="mark">
                <mat-icon class="mat-24" [ngStyle]="{'color': mark.color}">brightness_1</mat-icon>
                <span>{{mark.name}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="cost-description">
        <td class="bottom-border-none" mat-footer-cell *matFooterCellDef> <input matInput placeholder="0.0"> </td>
      </ng-container>

      <ng-container matColumnDef="comment-description">
        <td class="bottom-border-none" mat-footer-cell *matFooterCellDef> <input matInput placeholder="Comment"> </td>
      </ng-container>

      <tr mat-header-row class="height" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['item-description', 'cost-description', 'comment-description']"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>
    </table>
</div>


