<div class="data">
  <button mat-icon-button (click)="decrementDate()" matTooltip="Previous day">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <input  [matDatepicker]="picker" (click)="picker.open()"
          (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [formControl]="date" readonly>
  <mat-datepicker  #picker [calendarHeaderComponent]="customHeader"></mat-datepicker>
  <button mat-icon-button startView="year" (click)="incrementDate()" matTooltip="Next day">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
