<div class="linkExpired__page">
    <div class="linkExpired__page_image">
      <div class="image">
      </div>
    </div>
    <div class="linkExpired__page_content">
      <div class="linkExpired">
        <h1>Link expired</h1>
        <div class="form-container">
          <form>
            <div class="form-item">
              <mat-form-field>
                <input matInput type="email" id="email" name="email" placeholder="Email to restore password" ngModel email required #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
              </mat-form-field>
            </div>
            <div>
              <button class="restorePasswordButton" mat-raised-button color="primary">Restore password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
