<div class="setNewPassword">
  <h1>Set new <br> password</h1>
  <div class="form-container">
    <form>
      <div class="form-item">
        <mat-form-field hintLabel="Should be at least 6 characters long">
          <input matInput type="password" id="password" name="password" placeholder="New password" ngModel #pwInput="ngModel" required minlength="6" [type]="hide ? 'password' : 'text'">
          <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button class="setNewPasswordButton" mat-raised-button color="primary">Set new password</button>
      </div>
    </form>
  </div>
</div>
