<div class="sign">
  <div class="sign__image">
  </div>
  <div class="sign__form_container">
    <h1 class="sign__form_name">Sign Up</h1>
    <form novalidate class="sign__form">
     <input type="text" placeholder="Full Name" class="sign__form_input">
      <input type="email" placeholder="Email" class="sign__form_input">
      <input type="password" placeholder="Password" class="sign__form_input">
      <button class='sign__form_button' type="submit" routerLink="/login">Sign up</button>
    </form>
    <p class="sign__form_sign-in">Already have an account?<a routerLink="/login">Sign In</a></p>
  </div>
</div>

