<div class="signUp">
  <h1>Sign Up</h1>
  <div class="form-container">
    <div class="form-item">
      <mat-form-field>
        <input matInput placeholder="Full Name">
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <button class="signUpButton" mat-raised-button color="primary">Sign Up</button>
    </div>
    <div>
      <p>Already have an account? <a routerLink="/login">Sign In</a></p>
    </div>
  </div>
</div>
