<div class="company-container">
  <app-container class="company-card">
    <app-company-properties></app-company-properties>
  </app-container>

  <app-container class="approval-card">
    <mat-card-title>Approval Period:</mat-card-title>
    <app-approval-period></app-approval-period>
  </app-container>

  <div class="last-row">
    <app-container class="comments-card">
      <mat-card-title>Comments:</mat-card-title>
    </app-container>

    <app-container class="integration-card">
      <mat-card-title>Connected Integrations:</mat-card-title>
    </app-container>
  </div>
</div>
