<div class="company-container">
  <app-container class="company-card">
    <app-company-properties [company]="company" (onSaved)="onSaved($event)"></app-company-properties>
  </app-container>

  <app-container class="approval-card">
    <mat-card-title>Approval Period:</mat-card-title>
    <app-approval-period [company]="company"></app-approval-period>
  </app-container>

  <div class="last-row">
    <app-container class="comments-card">
      <mat-card-title>Comments:</mat-card-title>
      <app-comments [company]="company"></app-comments>
    </app-container>

    <app-container class="integration-card">
      <app-company-integration [user]="user"></app-company-integration>
    </app-container>
  </div>
</div>
