<div class="company-properties">
  <div class="company-properties__header">
    <mat-form-field class="company-width">
      <input matInput [(ngModel)]="_company.name" placeholder="Company name" />
    </mat-form-field>
    <button
      mat-raised-button
      (click)="onSave(_company)"
      class="save-button"
      color="primary"
      type="submit"
    >
      Save
    </button>
  </div>

  <div class="company-properties__body">
    <div class="company-properties__box">
      <p>Activities:</p>
      <div *ngFor="let item of _company.activities">
        <mat-checkbox
          [(ngModel)]="item.checked"
          (change)="onToggle(item.checked)"
          >{{ item.label }}</mat-checkbox
        >
      </div>
    </div>

    <div class="company-properties__box">
      <p>Default Projects:</p>
      <div *ngFor="let _project of _company.defaultProject[1]; index as i">
        <mat-form-field>
          <mat-label>Choose project</mat-label>
          <mat-select
            [(ngModel)]="_project"
            (ngModelChange)="onChangeProject($event, i)"
          >
            <mat-option
              *ngFor="let project of _company.defaultProject[0]"
              [value]="project"
              >{{ project }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Choose project</mat-label>
          <mat-select
            #select
            ngModel
            (ngModelChange)="onChange($event, select)"
          >
            <mat-option
              *ngFor="let project of _company.defaultProject[0]"
              [value]="project"
              >{{ project }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="company-properties__box">
      <label id="example-radio-group-label"><p>Start week from:</p></label>
      <mat-radio-group
        class="week-day-radio-group"
        [(ngModel)]="_company.startWeekDay[1][0]"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let day of _company.startWeekDay[0]"
          [(value)]="day"
        >
          {{ day }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="company-properties__box">
      <p>Default Workload:</p>
      <div class="workload-form">
        <mat-form-field class="workload-width">
          <input type="number" matInput [(ngModel)]="_company.workload[0]" />
        </mat-form-field>
        <p>hours per</p>
        <mat-form-field class="time-measure-width">
          <mat-select [(value)]="_company.workload[1]">
            <mat-option value="week">week</mat-option>
            <mat-option value="day">day</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
