<div class="profile-container">
  <app-container class="profile__info">
    <app-profile-info [user]="user" [currentUser]="currentUser"></app-profile-info>
  </app-container>

  <app-container *ngIf="currentUser.registered">
    <app-employee-periods></app-employee-periods>
  </app-container>

  <app-container *ngIf="currentUser.registered">
    <app-employee-timesheets></app-employee-timesheets>
  </app-container>

  <app-container *ngIf="currentUser.registered" class="profile__notification-preferences">
    <app-notification-preferences [user]="user"></app-notification-preferences>
  </app-container>

  <div *ngIf="!currentUser.registered" class="profile__first-login">
    <app-container class="profile__send-email">
      <app-send-email></app-send-email>
    </app-container>

    <app-container class="profile__create-company">
      <app-create-company></app-create-company>
    </app-container>
  </div>
</div>
